---
layout: default
---

<article class="page">
  
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>

<!-- responsive video js -->
<script src="/js/videoresponsive.js"></script>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- tag, category search -->
<script defer src="/js/alexpearce.js"></script>

<!-- Open external links in new tab -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/com.alybadawy.external_links.js"></script>